html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #0f191f;
}

#main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}