.date-picker-content {
    display: flex;
    flex-direction: row;
}

.date-picker-title {
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.react-datepicker-wrapper {
    align-self: center;
}